*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 12px 8%;
}
a{
    text-decoration: none;
    color: inherit;
}
.nav-links{
    display: flex;
}
.register-now{
    background-color: #1D4ED8;
    color: white;
    padding: 12px;
    border-radius: 10px;
}